@using Test1_WebApp_MVC.Models;
@using Test1_WebApp_MVC.Services;

@model IEnumerable<User>

@if (Model is not null)
{
    <div>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th class="text-center"></th>
                <th class="text-center">First Name </th>
                <th class="text-center">Surname </th>
                <th class="text-center">Cellphone Number</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>

            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="text-right">@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.CellNumber</td>
                    <td class="text-center">
                        <span class="btn btn-info" @*onclick="location.href='@Url.Action("Index")'"*@>
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="btn btn-info" onclick="confirmDelete(@user.Id, '@Url.Action("DeleteUser", new User() { Id = @user.Id })')">
                            @*location.href='@Url.Action("DeleteUser", new User() { Id = @user.Id })'">*@
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model is null)
{
    <div>No users found</div>
}

@*
    TODO: add paging
*@

